<h1>Hello, {{.Name}}</h1>
<p>he is {{.Age}} years old</p>
{{.Meta.Visits}}
<p>Bio: {{.Bio}}</p>

<script>
    const user = {
        "name": {{.Name}},
        "bio": {{.Bio}}
        "age": {{.Age}}
    };

    console.log(user);
</script>